<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>$Title$</title>
    <script src="/static/jquery-3.2.1.min.js"></script>
</head>
<body>
<form  method="post">
手机号:<input id="phone" type="text" placeholder="请输入手机号" name="useraccount" onblur="checkPhone()">
验证码:<input type="number" name="password"><a  href="/user/sendSMS?userAccount=17679003965">发送验证码</a>
<!--验证码:<input type="password">-->
<input  value="修改密码">
</form>
</body>
</html>
<script>
	function checkPhone(){
		var phone = document.getElementById('phone').value;
		if(!(/^1[3456789]\d{9}$/.test(phone))){
			alert("手机号码有误，请重填");
			return false;
		}
	}
	function sendSMS(){
		var number=$("#phone").val;
		alert(number);
		$.ajax({
			type: 'POST',
			url: "/user/sendSMS",
			data: {"userAccount":number},
			success: function () {
               alert("发送验证码成功")
			},
        })
	}
</script>